@import "https://fonts.googleapis.com/css?family=Sintony";

// STYLE PRINCIPAL

body {
	padding: 0;
	margin: 0;
	background-color: #000;
	font-family: "Sintony", sans-serif;
	color: #fff;
}

#limbo__header {
	height: 800px;
	overflow: hidden;
	position: relative;
}

.limbo-logo--style {
	width: 70%;
	height: auto;
	padding-bottom: 2em;
}

#content {
	background-color: #000;
}

.layer {
	background-position: bottom center;
	background-size: auto;
	background-repeat: no-repeat;
	width: 100%;
	height: 800px;
	position: fixed;
	z-index: -1;
}

#limbo__header-mobile {
	display: none;
	background: url("img/limbo.jpg") no-repeat center bottom/cover;
	height: 320px;
}

.first-section {
	padding: 50px 0 20px 0;
	font-size: 18px;
}

#limbo__header, .layer {
	min-height: 800px;
}

.layer-bg {
	background-image: url("img/limbo_bg.jpg");
}

.layer-1 {
	background-image: url("img/limbo_04.png");
}

.layer-2 {
	background-image: url("img/limbo_03.png");
}

.layer-3 {
	background-image: url("img/limbo_02.png");
}

.layer-4 {
	background-image: url("img/limbo_01.png");
}

// RESPONSIVE LIMBO HEADER

@media only screen and (max-width: 768px) {
	#limbo__header {
		display: none;
	}

	#limbo__header-mobile {
		display: block;
		height: 400px;
	}

	.layer {
		height: 400px;
	}
}

// SECTION BLACK & WHITE
@for $i from 1 through 10 {
	.section__main:nth-child(#{$i}) {
		@if ($i % 2 == 0) {
			background-color: black;
			color: white;
		} @else {
			background-color: white;
			color: black;
		}
		top: ($i - 1) * 100vh !important;
		z-index: $i;
	}
	
	.section__main:nth-child(#{$i}) .fixed {
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

.section__main {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100vh;
	letter-spacing: 4px;
	overflow: hidden;
	clip: rect(0, auto, auto, 0);
}

.section__main .fixed {
	overflow: hidden;
	position: fixed;
	top: 50%;
	left: 50%;
}

.section__main .white {
	color: #fff;
}
