@import "https://fonts.googleapis.com/css?family=Sintony";
body {
  padding: 0;
  margin: 0;
  background-color: #000;
  font-family: "Sintony", sans-serif;
  color: #fff;
}

#limbo__header {
  height: 800px;
  min-height: 800px;
  overflow: hidden;
  position: relative;
}
#limbo__header .layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  min-height: 800px;
  position: fixed;
  z-index: -1;
}

#limbo__header-mobile {
  display: none;
  background: url("img/limbo.jpg") no-repeat center bottom/cover;
  height: 320px;
}

#content {
  background-color: #000;
}
#content .limbo-logo--style {
  width: 70%;
  height: auto;
  padding-bottom: 2em;
}
#content .first-section {
  padding: 50px 0 20px 0;
  font-size: 18px;
}

.layer-bg {
  background-image: url("img/limbo_bg.jpg");
}

.layer-1 {
  background-image: url("img/limbo_04.png");
}

.layer-2 {
  background-image: url("img/limbo_03.png");
}

.layer-3 {
  background-image: url("img/limbo_02.png");
}

.layer-4 {
  background-image: url("img/limbo_01.png");
}

@media only screen and (max-width: 768px) {
  #limbo__header {
    display: none;
  }
  #limbo__header .layer {
    height: 400px;
  }

  #limbo__header-mobile {
    display: block;
    height: 400px;
  }
}
.section__main:nth-child(1) {
  background-color: white;
  color: black;
  top: 0vh !important;
  z-index: 1;
}
.section__main:nth-child(1) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main:nth-child(2) {
  background-color: black;
  color: white;
  top: 100vh !important;
  z-index: 2;
}
.section__main:nth-child(2) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main:nth-child(3) {
  background-color: white;
  color: black;
  top: 200vh !important;
  z-index: 3;
}
.section__main:nth-child(3) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main:nth-child(4) {
  background-color: black;
  color: white;
  top: 300vh !important;
  z-index: 4;
}
.section__main:nth-child(4) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main:nth-child(5) {
  background-color: white;
  color: black;
  top: 400vh !important;
  z-index: 5;
}
.section__main:nth-child(5) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main:nth-child(6) {
  background-color: black;
  color: white;
  top: 500vh !important;
  z-index: 6;
}
.section__main:nth-child(6) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main:nth-child(7) {
  background-color: white;
  color: black;
  top: 600vh !important;
  z-index: 7;
}
.section__main:nth-child(7) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main:nth-child(8) {
  background-color: black;
  color: white;
  top: 700vh !important;
  z-index: 8;
}
.section__main:nth-child(8) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main:nth-child(9) {
  background-color: white;
  color: black;
  top: 800vh !important;
  z-index: 9;
}
.section__main:nth-child(9) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main:nth-child(10) {
  background-color: black;
  color: white;
  top: 900vh !important;
  z-index: 10;
}
.section__main:nth-child(10) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  letter-spacing: 4px;
  overflow: hidden;
  clip: rect(0, auto, auto, 0);
}
.section__main .fixed {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
}
.section__main .white {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
